@use 'default' with (
  $color-background: #2b2d2d,
  $color-initial: #cfc8b6,
  $color-primary: #209599,
  $color-secondary: #db8f00,
  $color-tertiary: #e35100,
  $color-quaternary: #c90073,
  $color-quinary: #5d26b2
);
